.login-page,
.register-page,
.password-page {
    -ms-flex-align: center;
    align-items: center;
    /* background-color: #e9ecef; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    /* height: 100vh; */
    -ms-flex-pack: center;
    justify-content: center
}

.login-box,
.register-box,
.password-box {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:576px) {

    .login-box,
    .register-box,
    .register-box {
        margin-top: .5rem;
        width: 90%
    }
}

.login-box .card,
.register-box .card,
.password-box .card {
    margin-bottom: 0
}

.login-logo,
.register-logo,
.password-logo {
    /* font-size: 2.1rem; */
    font-weight: 400;
    /* margin-bottom: .9rem; */
    text-align: center;
}

.login-logo a,
.register-logo a,
.password-logo a {
    color: #495057;
    text-decoration: none;
}

.login-logo a:hover,
.register-logo a:hover,
.password-logo a:hover {
    text-decoration: none;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    /* background-color: rgba(0, 0, 0, .03); */
    background-color: white;
    /* border-bottom: 0 solid rgba(0, 0, 0, .125) */
}

.card-header:first-child {
    border-radius: calc(.25rem - 0) calc(.25rem - 0) 0 0
}

.card-primary.card-outline {
    border-top: 3px solid #007bff
}

.card-primary.card-outline-tabs>.card-header a:hover {
    border-top: 3px solid #dee2e6
}

.login-card-body,
.register-card-body,
.password-card-body {
    background-color: #fff;
    border-top: 0;
    color: #666;
    padding: 20px
}

.login-card-body .input-group .form-control,
.register-card-body .input-group .form-control,
.password-card-body .input-group .form-control {
    border-right: 0
}

.login-card-body .input-group .form-control:focus,
.register-card-body .input-group .form-control:focus,
.password-card-body .input-group .form-control:focus {
    box-shadow: none
}

.login-card-body .input-group .form-control:focus~.input-group-append .input-group-text,
.register-card-body .input-group .form-control:focus~.input-group-append .input-group-text,
.password-card-body .input-group .form-control:focus~.input-group-append .input-group-text,
.login-card-body .input-group .form-control:focus~.input-group-prepend .input-group-text,
.register-card-body .input-group .form-control:focus~.input-group-prepend .input-group-text,
.password-card-body .input-group .form-control:focus~.input-group-prepend .input-group-text {
    border-color: #80bdff
}

.login-card-body .input-group .form-control.is-valid:focus,
.register-card-body .input-group .form-control.is-valid:focus,
.password-card-body .input-group .form-control.is-valid:focus {
    box-shadow: none
}

.login-card-body .input-group .form-control.is-valid~.input-group-append .input-group-text,
.register-card-body .input-group .form-control.is-valid~.input-group-append .input-group-text,
.password-card-body .input-group .form-control.is-valid~.input-group-append .input-group-text,
.login-card-body .input-group .form-control.is-valid~.input-group-prepend .input-group-text,
.register-card-body .input-group .form-control.is-valid~.input-group-prepend .input-group-text,
.password-card-body .input-group .form-control.is-valid~.input-group-prepend .input-group-text {
    border-color: #28a745
}

.login-card-body .input-group .form-control.is-invalid:focus,
.register-card-body .input-group .form-control.is-invalid:focus,
.password-card-body .input-group .form-control.is-invalid:focus {
    box-shadow: none
}

.login-card-body .input-group .form-control.is-invalid~.input-group-append .input-group-text,
.register-card-body .input-group .form-control.is-invalid~.input-group-append .input-group-text,
.password-card-body .input-group .form-control.is-invalid~.input-group-append .input-group-text {
    border-color: #dc3545
}

.login-card-body .input-group .input-group-text,
.register-card-body .input-group .input-group-text,
.password-card-body .input-group .input-group-text {
    background-color: transparent;
    border-bottom-right-radius: .25rem;
    border-left: 0;
    border-top-right-radius: .25rem;
    color: #777;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.icheck-primary {
    font-weight: 700 !important;
}
