# Product:      Web API Server
# Version:      2.06
# Developer:    Aeric Poon
# License:      Donationware
# Paypal:       https://paypal.me/aeric80/

# Thanks to Erel, Anywhere Software for the great products and B4X community for encouragement and supports.
# Please consider to donate to me so I can continue to improve this project

# Lines starting with '#' are comments.
# Lines starting with ';' are disabled.
# Backslash character at the end of line means that the command continues in the next line.

# Define App Constants
HOME_TITLE=WEB API SERVER
APP_TITLE=Web API Server
APP_TRADEMARK=B4X
APP_COPYRIGHT=Copyright Computerise System Solutions 2024

# Server Path
ROOT_URL=http://localhost
ROOT_PATH=web
API_NAME=api
API_VERSIONING=True

# Java server port
ServerPort=19800
SSLPort=0

# SSL Keystores
# Generate a keystore from Windows CMD
# C:\Java\jdk-11.0.1\bin\keytool -keystore keystore -alias jetty -genkey -keyalg RSA
# Copy keystore file to Objects folder of the B4J project

# Windows development server
# Leave SSL_KEYSTORE_DIR as empty (Objects folder or File.DirApp)
; SSL_KEYSTORE_DIR=
; SSL_KEYSTORE_FILE=keystore
; SSL_KEYSTORE_PASSWORD=xxxxxxxxx

# Ubuntu Linux VPS
; SSL_KEYSTORE_DIR=/etc/letsencrypt/live/mydomain.com
; SSL_KEYSTORE_FILE=keystore.jks
; SSL_KEYSTORE_PASSWORD=xxxxxxxxx

# Define Email Settings
; SMTP_SERVER=xxxxxxxxx
; SMTP_USERNAME=xxxxxxxxx
; SMTP_PASSWORD=xxxxxxxxx
; SMTP_PORT=465
; SMTP_USESSL=True
; HTML_BODY=True
; ADMIN_EMAIL=xxxxxxxxx

# DATABASE CONFIGURATION

## SQLite configuration:
DbType=SQLite
DbName=webapi2.db
DbDir=
DriverClass=org.sqlite.JDBC
JdbcUrl=jdbc:sqlite:{DbDir}/{DbName}
## For custom directory
## Use DbDir=C:/B4X/Development/Web API Server 2.06/Objects

## MySQL configuration:
#DbType=MySQL
#DbName=webapi2
#DbHost=localhost
#DbPort=
#DriverClass=com.mysql.cj.jdbc.Driver
#JdbcUrl=jdbc:mysql://{DbHost}:{DbPort}/{DbName}?characterEncoding=utf8&useSSL=false
#User=root
#Password=password
#MaxPoolSize=100
## For mysql-connector-java-5.1.49 (deprecated)
## Use DriverClass=com.mysql.jdbc.Driver