# ignore files
Objects/config.ini
Objects/help.html
Objects/*.jar
Objects/*.db*
Objects/keystore*

# ignore ALL files in these directories
AutoBackups/
Objects/b4xlibs/
Objects/bin/
Objects/logs/
Objects/shell/
Objects/src/