' Product: 		Web API Server
' Version: 		3.20
' Description: 	Server application project template
' Developer:	Poon Yip Hoon (Aeric)
' License:		MIT License
' GitHub:		https://github.com/pyhoon/web-api-server-b4j
' Forum:	    https://www.b4x.com/android/forum/threads/project-template-web-api-server-v3.163725/
' Tutorial:		https://www.b4x.com/android/forum/threads/web-api-server-v3.163824/
' Donation:		https://paypal.me/aeric80/

# Thanks to Erel, Anywhere Software for the great products and B4X community for encouragement and supports.
# Please consider to donate to me so I can continue to improve this project

# Lines starting with '#' are comments.
# Lines starting with ';' are disabled.
# Backslash character at the end of line means that the command continues in the next line.

# Define App Constants
HOME_TITLE=WEB API SERVER
APP_TITLE=Web API Server
APP_TRADEMARK=B4X
APP_COPYRIGHT=Copyright Computerise System Solutions 2025

# Server Path
ROOT_URL=http://127.0.0.1
ROOT_PATH=
API_NAME=api
API_VERSIONING=False

# Java server port
ServerPort=8080
SSLPort=0

# SSL Keystores
# Generate a keystore from Windows CMD
# C:\Java\jdk-11.0.1\bin\keytool -keystore keystore -alias jetty -genkey -keyalg RSA
# Copy keystore file to Objects folder of the B4J project
SSL_KEYSTORE_DIR=/etc/letsencrypt/live/mydomain.com
SSL_KEYSTORE_FILE=keystore.jks
SSL_KEYSTORE_PASSWORD=xxxxxxxxx

# Define Email Settings
#SMTP_SERVER=xxxxxxxxx
#SMTP_USERNAME=xxxxxxxxx
#SMTP_PASSWORD=xxxxxxxxx
#SMTP_PORT=465
#SMTP_USESSL=True
#HTML_BODY=True
#ADMIN_EMAIL=xxxxxxxxx

# DATABASE CONFIGURATION

## SQLite configuration:
DbType=SQLite
DbFile=webapi3.db
DbDir=
DriverClass=org.sqlite.JDBC
JdbcUrl=jdbc:sqlite:{DbDir}/{DbFile}

## MySQL configuration:
#DbType=MySQL
#DbName=webapi3
#DbHost=localhost
#DbPort=
#DriverClass=com.mysql.cj.jdbc.Driver
#JdbcUrl=jdbc:mysql://{DbHost}:{DbPort}/{DbName}?characterEncoding=utf8&useSSL=false
#User=root
#Password=password
#MaxPoolSize=100